class CfgSkeletons 
{ 
	class A3FL_Suburban_Skelet
	{
		isDiscrete=1;
		skeletonInherit = "";
		SkeletonBones[]=
		{
			"drivewheel"	,"",
			"wheel_1_1_damper_land"	,"",
			"wheel_1_1_damper"	,"wheel_1_1_damper_land",
			"wheel_1_1_steering"	,"wheel_1_1_damper",
			"wheel_1_1"	,"wheel_1_1_steering",
			"wheel_1_1_unhide"	,"wheel_1_1",
			"wheel_1_1_hide"	,"wheel_1_1",
			"wheel_1_1_pad", "wheel_1_1_steering",
			"wheel_1_2_damper_land"	,"",
			"wheel_1_2_damper"	,"wheel_1_2_damper_land",
			"wheel_1_2_steering"	,"wheel_1_2_damper",
			"wheel_1_2"	,"wheel_1_2_steering",
			"wheel_1_2_unhide"	,"wheel_1_2",
			"wheel_1_2_hide"	,"wheel_1_2",
			"wheel_1_2_pad", "wheel_1_2_steering",
			"wheel_2_1_damper_land"	,"",
			"wheel_2_1_damper"	,"wheel_2_1_damper_land",
			"wheel_2_1_steering"	,"wheel_2_1_damper",
			"wheel_2_1"	,"wheel_2_1_steering",
			"wheel_2_1_unhide"	,"wheel_2_1",
			"wheel_2_1_hide"	,"wheel_2_1",
			"wheel_2_1_pad", "wheel_2_1_steering",
			"wheel_2_2_damper_land"	,"",
			"wheel_2_2_damper"	,"wheel_2_2_damper_land",
			"wheel_2_2_steering"	,"wheel_2_2_damper",
			"wheel_2_2"	,"wheel_2_2_steering",
			"wheel_2_2_unhide"	,"wheel_2_2",
			"wheel_2_2_hide"	,"wheel_2_2",
			"wheel_2_2_pad", "wheel_2_2_steering",
			"otocvez"	,"",
			"otochlaven"	,"otocvez",
			"damagehlaven"	,"otochlaven",
			"damagevez"	,"otocvez",
			"damagehide"	,"",
			"glass1"	,"damagehide",
			"glass2"	,"damagehide",
			"glass3"	,"damagehide",
			"glass4"	,"damagehide",
			"glass5"	,"damagehide",
			"glass6"	,"trunk",
			"daylights"	,"damagehide",
			"ukaz_rychlo"	,"",
			"ukaz_rychlo2"	,"",
			"ukaz_rpm"	,"",
			"mph"	,"",
			"rpm"	,"",
			"fuel"	,"",
			"trunk","",
			"trunkinside","",
			"towbar_addon"	,"",
			"turntable"	,"towbar_addon",
			"hitch_hide"	,"",
			"towbar_phys"	,"hitch_hide",
			"reverse_light"	,"",
			"Auto_Lights","",
			"Head_Lights","Auto_Lights",
			"High_Beam","Head_Lights",
			"LightCarHeadL01","Head_Lights",
			"LightCarHeadL01_end","Head_Lights",
			"LightCarHeadR01","Head_Lights",
			"LightCarHeadR01_end","Head_Lights",
			"door_rf", "","door_rb", "","door_lf", "","door_lb", "",
			"ignition", "","lightswitch", "",
			"gasTank", "",
			"Proxy_Hide","",
			"Reverse_Cam",""
		};
	};
};
class CfgModels
{
	class A3FL_Suburban
	{
		htMin=60;
		htMax=180;
		afMax=100;
		mfMax=8;
		mFact=1;
		tBody=150;
		skeletonName = "A3FL_Suburban_Skelet";
		sectionsInherit = "";
		sections[]={"body", "brzdove svetlo", "zadni svetlo", "p svetlo", "l svetlo", "lett_1", "lett_2", "lett_3", "num_1", "num_2", "num_3", "num_4", "glass1","glass2","glass3","glass4","glass5","glass6"};
		class Animations
		{
			class damagehide
			{
				type="hide";
				source="damage";
				selection="damagehide";
				sourceAddress="clamp";
				minPhase=0;
				maxPhase=1;
				minValue=0;
				maxValue=1;
				memory=0;
				hideValue=1;
				unHideValue=-1;
			};
			class Head_Lights
			{
				type="translation";
				axis="Basic_Damper_Destruct_Axis";
				memory=1;
				animPeriod = 0;
				selection="Head_Lights";
				source="Head_Lights";
				minValue = 0;
				maxValue = 1;
				offset0 = 9999999;
				offset1 = 0;
			};
			class High_Beam
			{
				type="translation";
				axis="Basic_Damper_Destruct_Axis";
				memory=1;
				animPeriod = 0;
				selection="High_Beam";
				source="High_Beam";
				minValue = 0;
				maxValue = 1;
				offset0 = 9999999;
				offset1 = 0;
			};
			class Auto_Lights
			{
				type="translation";
				axis="Basic_Damper_Destruct_Axis";
				memory=1;
				animPeriod = 0;
				selection="Auto_Lights";
				source="rpm";
				minValue = 0;
				maxValue = 300;
				offset0 = 9999999;
				offset1 = 0;
			};
			class trunk
			{
				type="rotation";
				source="trunk";
				selection="trunk";
				axis="trunk_axis";
				minValue=0;
				maxValue=1;
				angle0=(rad 0);
				angle1=(rad -80);
			};
			class towbar_addon
			{
				type="hide";
				source="towbar_addon";
				selection="towbar_addon";
				sourceAddress="clamp";
				minPhase=0;
				maxPhase=1;
				minValue=0;
				maxValue=1;
				memory=0;
				hideValue=0;
				unHideValue=1;
			};
			class towbar_phys
			{
				type="hide";
				source="towbar_addon";
				selection="towbar_phys";
				sourceAddress="clamp";
				minPhase=0;
				maxPhase=1;
				minValue=0;
				maxValue=1;
				memory=0;
				hideValue=0;
				unHideValue=1;
			};
			class turntable
			{
				type="hide";
				source="hitched";
				selection="turntable";
				sourceAddress="clamp";
				minPhase=0;
				maxPhase=1;
				minValue=0;
				maxValue=1;
				memory=0;
				hideValue=0;
				unHideValue=1;
			};
			class hitch_hide
			{
				type="hide";
				source="hitched";
				selection="hitch_hide";
				sourceAddress="clamp";
				minPhase=0;
				maxPhase=1;
				minValue=0;
				maxValue=1;
				memory=0;
				hideValue=0.99;
				unHideValue=-1;
			};
			class addons
			{
				type="hide";
				source="common";
				selection="addons";
				sourceAddress="clamp";
				minPhase=0;
				maxPhase=1;
				minValue=0;
				maxValue=1;
				memory=0;
				hideValue=0;
				unHideValue=1;
			};
			class addons_2
			{
				type="hide";
				source="common";
				selection="addons_2";
				sourceAddress="clamp";
				minPhase=0;
				maxPhase=1;
				minValue=0;
				maxValue=1;
				memory=0;
				hideValue=0.99;
				unHideValue=-1;
			};
			class Proxy_Hide: Addons
			{
				selection="Proxy_Hide";
				source="speed";
				minValue = 0.1;
				maxValue = 1.5;
			};
			class door_lf
			{
				type="rotation";
				source="door_lf";
				selection="door_lf";
				axis="door_lf_axis";
				sourceAddress="clamp";
				minPhase=0;
				maxPhase=1;
				minValue=0;
				maxValue=1;
				memory=0;
				angle0=0;
				angle1=1;
			};
			class door_rf
			{
				type="rotation";
				source="door_rf";
				selection="door_rf";
				axis="door_rf_axis";
				sourceAddress="clamp";
				minPhase=0;
				maxPhase=1;
				minValue=0;
				maxValue=1;
				memory=0;
				angle0=0;
				angle1=1;
			};
			class door_lb
			{
				type="rotation";
				source="door_lb";
				selection="door_lb";
				axis="door_lb_axis";
				sourceAddress="clamp";
				minPhase=0;
				maxPhase=1;
				minValue=0;
				maxValue=1;
				memory=0;
				angle0=0;
				angle1=1;
			};
			class door_rb
			{
				type="rotation";
				source="door_rb";
				selection="door_rb";
				axis="door_rb_axis";
				sourceAddress="clamp";
				minPhase=0;
				maxPhase=1;
				minValue=0;
				maxValue=1;
				memory=0;
				angle0=0;
				angle1=1;
			};
			class IndicatorFuel
			{
				type="rotation";
				source="fuel";
				selection="fuel";
				axis="fuel_axis";
				memory=1;
				minValue=0.000000;
				maxValue=1.000000;
				angle0=0;
				angle1=-3.100;
			};
			class IndicatorSpeed
			{
				type="rotation";
				source="speed";
				selection="mph";
				axis="mph_axis";
				memory=1;
				maxValue=140;
				angle0=0;
				angle1="rad -250";
			};
			class IndicatorRPM
			{
				type="rotation";
				source="rpm";
				selection="rpm";
				axis="rpm_axis";
				memory=1;
				maxValue=5800;
				angle0=0;
				angle1="rad 220";
			};
			class drivingwheel
			{
				type="rotation";
				source="drivingwheel";
				selection="drivewheel";
				axis="drivewheel_axis";
				sourceAddress="clamp";
				minPhase=-1;
				maxPhase=1;
				minValue=-1;
				maxValue=1;
				memory=0;
				angle0=1;
				angle1=-1;
			};
			class daylights
			{
				type="hide";
				source="rpm";
				selection="daylights";
				minValue=-0.8;
				maxValue=0.2;
				unhidevalue=1;
				sourceAddress="clamp";
			};
			class reverse_light
			{
				type="hide";
				source="gear";
				selection="reverse_light";
				sourceAddress="clamp";
				minPhase=-1;
				maxPhase=0;
				minValue=-1;
				maxValue=0;
				memory=0;
				hideValue=0.2;
				unHideValue=-1;
			};
			class wheel_1_1_destruct
			{
				type="hide";
				selection="Hit_wheel_1_1";
				source="HitLFWheel";
				minValue = 0;
				maxValue = 1;
				hidevalue = 0.99999;
			};
			class wheel_1_2_destruct: wheel_1_1_destruct 
			{
				source="HitLBWheel";
				selection="Hit_wheel_1_2";
			};
			class wheel_2_1_destruct: wheel_1_1_destruct 
			{
				source="HitRFWheel";
				selection="Hit_wheel_2_1";
			};
			class wheel_2_2_destruct: wheel_1_1_destruct 
			{
				source="HitRBWheel";
				selection="Hit_wheel_2_2";
			};
			class wheel_1_1_destruct_unhide
			{
				type="hide";
				selection="wheel_1_1_unhide";
				source="HitLFWheel";
				minValue = 0; 
				maxValue = 1; 
				hidevalue = 0.00000;
				UnHidevalue = 1.00000;
			};
			class wheel_1_2_destruct_unhide: wheel_1_1_destruct_unhide 
			{
				source="HitLBWheel";
				selection="wheel_1_2_unhide";
			};
			class wheel_2_1_destruct_unhide: wheel_1_1_destruct_unhide 
			{
				source="HitRFWheel";
				selection="wheel_2_1_unhide";
			};
			class wheel_2_2_destruct_unhide: wheel_1_1_destruct_unhide 
			{
				source="HitRBWheel";
				selection="wheel_2_2_unhide";
			};
			#define DamageOffset 0.2
			class wheel_1_1_Damage: wheel_1_1_destruct
			{
				type="translation";
				axis="Basic_Damper_Destruct_Axis";
				memory=1;
				selection="wheel_1_1_damper";
				source="HitLFWheel";
				minValue = 0.0;
				maxValue = 1;
				offset0 = 0;
				offset1 = DamageOffset;
			};
			class wheel_1_2_Damage: wheel_1_1_Damage 
			{
				source="HitLBWheel";
				selection="wheel_1_2_damper";
			};
			class wheel_2_1_Damage: wheel_1_1_Damage 
			{
				source="HitRFWheel";
				selection="wheel_2_1_damper";
			};
			class wheel_2_2_Damage: wheel_1_1_Damage 
			{
				source="HitRBWheel";
				selection="wheel_2_2_damper";
			};
			class wheel_1_1_Damper_Damage_BackAnim: wheel_1_1_Damage 
			{
				selection="wheel_1_1_damper";
				offset1 = -1.2*DamageOffset;
			};
			class wheel_1_2_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim 
			{
				source="HitLBWheel";
				selection="wheel_1_2_damper";
			};
			class wheel_2_1_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim 
			{
				source="HitRFWheel";
				selection="wheel_2_1_damper";
			};
			class wheel_2_2_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim 
			{
				source="HitRBWheel";
				selection="wheel_2_2_damper";
			};
			class Wheel_Dampers: wheel_1_1_Damage
			{
				source="rpm";
				selection="Wheel_Damper";
				offset0= "0";
				offset1= "-0.4";
			};
			class Steering_1_1
			{
				type="rotationY";
				source="drivingWheel";
				selection="wheel_1_1_steering";
				axis="wheel_1_1_steering_axis";
				memory=1;
				minValue= -1;
				maxValue= 1;
				angle0="rad +30";
				angle1="rad -30";
			};
			class Steering_2_1: Steering_1_1
			{
				selection="wheel_2_1_steering";
				axis="wheel_2_1_steering_axis";
			};
			class Wheel_1_1
			{
				type="rotationX";
				source="wheel";
				selection="wheel_1_1";
				axis="wheel_1_1_axis";
				memory=1;
				sourceAddress="loop";
				minValue=0;
				maxValue=1;
				angle0=0;
				angle1="rad -360";
			};
			class wheel_1_2: Wheel_1_1
			{
				selection="wheel_1_2";
				axis="wheel_1_2_axis";
			};
			class wheel_2_1: Wheel_1_1
			{
				selection="wheel_2_1";
				axis="wheel_2_1_axis";
			};
			class Wheel_2_2: Wheel_1_1
			{
				selection="wheel_2_2";
				axis="wheel_2_2_axis";
			};
			class Wheel_1_1_Damper
			{
				type="translation";
				source="damper";
				selection="wheel_1_1_damper_land";
				axis="wheel_1_1_damper_land_axis";
				animPeriod = 1;
				minValue="0";
				maxValue="1";
				offset0= "-1";
				offset1= "0.7";
				memory = 1;
			};
			class wheel_1_2_Damper: Wheel_1_1_Damper
			{
				selection="wheel_1_2_damper_land";
				axis="wheel_1_2_damper_land_axis";
			};
			class wheel_2_1_Damper: Wheel_1_1_Damper
			{
				selection="wheel_2_1_damper_land";
				axis="wheel_2_1_damper_land_axis";
			};
			class Wheel_2_2_Damper: Wheel_1_1_Damper
			{
				selection="wheel_2_2_damper_land";
				axis="wheel_2_2_damper_land_axis";
			};
			class Glass1_destruct
			{
				type="hide";
				selection="glass1";
				source="HitGlass1";
				minValue = 0; 
				maxValue = 1; 
				hidevalue = 0.99999;
			};
			class Glass2_destruct:Glass1_destruct
			{
			selection="glass2";
			source="HitGlass2";
			};
			class Glass3_destruct:Glass1_destruct
			{
			selection="glass3";
			source="HitGlass3";
			};
			class Glass4_destruct:Glass1_destruct
			{
			selection="glass4";
			source="HitGlass4";
			};
			class Glass5_destruct:Glass1_destruct
			{
			selection="glass5";
			source="HitGlass5";
			};
			class Glass6_destruct:Glass1_destruct
			{
			selection="glass6";
			source="HitGlass6";
			};
			class Glass7_destruct:Glass1_destruct
			{
			selection="glass7";
			source="HitGlass7";
			};
			class Glass8_destruct:Glass1_destruct
			{
			selection="glass8";
			source="HitGlass8";
			};
		};
	};
};