class CfgSkeletons
{
	class A3FL_T370_Sk
	{
		isDiscrete=1;
		skeletonInherit="";
		skeletonBones[]=
		{
			"wheel_1_1_damper_land","","wheel_1_2_damper_land","","wheel_1_3_damper_land","","wheel_2_1_damper_land","","wheel_2_2_damper_land","","wheel_2_3_damper_land","","wheel_1_1_damper","wheel_1_1_damper_land","wheel_1_2_damper","wheel_1_2_damper_land","wheel_1_3_damper","wheel_1_3_damper_land","wheel_2_1_damper","wheel_2_1_damper_land","wheel_2_2_damper","wheel_2_2_damper_land","wheel_2_3_damper","wheel_2_3_damper_land","wheel_1_1_steering","wheel_1_1_damper","wheel_1_2_steering","wheel_1_2_damper","wheel_1_3_steering","wheel_1_3_damper","wheel_2_1_steering","wheel_2_1_damper","wheel_2_2_steering","wheel_2_2_damper","wheel_2_3_steering","wheel_2_3_damper","wheel_1_1_turn","wheel_1_1_steering","wheel_1_2_turn","wheel_1_2_steering","wheel_1_3_turn","wheel_1_3_steering","wheel_2_1_turn","wheel_2_1_steering","wheel_2_2_turn","wheel_2_2_steering","wheel_2_3_turn","wheel_2_3_steering","wheel_1_1_unhide","wheel_1_1_turn","wheel_1_2_unhide","wheel_1_2_turn","wheel_1_3_unhide","wheel_1_3_turn","wheel_2_1_unhide","wheel_2_1_turn","wheel_2_2_unhide","wheel_2_2_turn","wheel_2_3_unhide","wheel_2_3_turn","Hit_wheel_1_1","wheel_1_1_turn","Hit_wheel_1_2","wheel_1_2_turn","Hit_wheel_1_3","wheel_1_3_turn","Hit_wheel_2_1","wheel_2_1_turn","Hit_wheel_2_2","wheel_2_2_turn","Hit_wheel_2_3","wheel_2_3_turn","wheel_1_1_pad","wheel_1_1_steering","wheel_1_2_pad","wheel_1_2_damper","wheel_1_3_pad","wheel_1_3_damper","wheel_2_1_pad","wheel_2_1_steering","wheel_2_2_pad","wheel_2_2_damper","wheel_2_3_pad","wheel_2_3_damper","wheel_1_1","Hit_wheel_1_1","wheel_1_2","Hit_wheel_1_2","wheel_1_3","Hit_wheel_1_3","wheel_2_1","Hit_wheel_2_1","wheel_2_2","Hit_wheel_2_2","wheel_2_3","Hit_wheel_2_3",			
			"steering_wheel","","Accelerator","","Fuel","","Speedo","","Rpm","",
			"Trunk","damageHide","Door_LF","damageHide","Door_RF","damageHide",
			"glass1","damageHide","glass2","damageHide","glass3","damageHide",					
			"damageHide","","platescrew","","Geo_Fix","","trunk","",
			"High_Beam_Switch","","ignition","","trunkSwitch","","gasTank","","lightSwitch","","Auto_Lights","damageHide","Head_Lights","Auto_Lights","High_Beam","Head_Lights","reverse_light","",
			"trunkInside1","","trunkinside2","","trunkInside3","","trunkInside4","","trunkInside5","","trunkInside6","","trunkInside7","","trunkInside8","","trunkInside9","","trunkInside10","","damageHide",""
		};
	};
};
class CfgModels
{
	class A3FL_T370
	{
		sectionsInherit="";
		sections[]=
		{
			"Body",
			"Body2",
			"brzdove svetlo", "zadni svetlo", "p svetlo", "l svetlo", 
			"Lett_1",
			"Lett_2",
			"Lett_3",
			"num_1",
			"num_2",
			"num_3",
			"num_4",
			"glass1",
			"glass2",
			"glass3"
		};
        skeletonName="A3FL_T370_Sk";
		class Animations 
		{
			class Addons
			{
				type="hide";
				source="Common";
				selection = "Addons";
				sourceAddress = "clamp";
				minValue = 0;
				maxValue = 1;
				minPhase = 0;
				maxPhase = 1;
				hideValue = "0";	
				unHideValue = "1";	
			};
			class Trunk
			{
				type="translation";
				source="Trunk";
				selection="Trunk";
				axis="Trunk_axis";
				memory = 1;
				minValue=0;
				maxValue=1;
                offset0 = 0;
				offset1 = 1.3;
			};
			class Head_Lights
			{
				type="translation";
				axis="Basic_Damper_Destruct_Axis";
				memory=1;
				animPeriod = 0;
				selection="Head_Lights";
				source="Head_Lights";
				minValue = 0;
				maxValue = 1;
				offset0 = 9999999;
				offset1 = 0;
			};
			class High_Beam
			{
				type="translation";
				axis="Basic_Damper_Destruct_Axis";
				memory=1;
				animPeriod = 0;
				selection="High_Beam";
				source="High_Beam";
				minValue = 0;
				maxValue = 1;
				offset0 = 9999999;
				offset1 = 0;
			};
			class Auto_Lights
			{
				type="translation";
				axis="Basic_Damper_Destruct_Axis";
				memory=1;
				animPeriod = 0;
				selection="Auto_Lights";
				source="rpm";
				minValue = 0;
				maxValue = 890;
				offset0 = 9999999;
				offset1 = 0;
			};
			class Geo_Fix
			{
				type="hide";
				selection="Geo_Fix";
				source="Common";
				minValue = 0;
				maxValue = 1;
				minPhase = 0;
				maxPhase = 1;
				sourceAddress = "clamp"; 
				hidevalue = 0.00000;
				UnHidevalue = 1.00000;
			};
			class Accelerator
			{
				type="rotation";
				source="Throttle";
				selection="Accelerator";
				axis="Accelerator_axis";
				memory = 1;
				minValue=0;
				maxValue=1;
                angle0 = 0;
		        angle1 = 0.4;			
			};
			class daylights
			{
				type="hide";
				source="rpm";
				selection="daylights";
				minValue=-0.8;
				maxValue=0.2;
				unhidevalue=1;
				sourceAddress="clamp";
			};
			class reverse_light
			{
				type="Hide";
				selection="reverse_light";
				sourceAddress="clamp";
				source="Gear";
				minValue = -1;
				maxValue = 0;
				hideValue = "0.2";	
			};
			class damageHide
			{
				type="hide";
				source="damage";
				selection="damageHide";
			};
			class wheel_1_1_destruct
			{
				type="hide";
				selection="Hit_wheel_1_1";
				source="HitLFWheel";
				minValue = 0;
				maxValue = 1;
				hidevalue = 0.99999;
			};
			class wheel_1_2_destruct: wheel_1_1_destruct 
			{
				source="HitLBWheel";
				selection="Hit_wheel_1_2";
			};
			class wheel_2_1_destruct: wheel_1_1_destruct 
			{
				source="HitRFWheel";
				selection="Hit_wheel_2_1";
			};
			class wheel_2_2_destruct: wheel_1_1_destruct 
			{
				source="HitRBWheel";
				selection="Hit_wheel_2_2";
			};
			class wheel_1_1_destruct_unhide
			{
				type="hide";
				selection="wheel_1_1_unhide";
				source="HitLFWheel";
				minValue = 0; 
				maxValue = 1; 
				hidevalue = 0.00000;
				UnHidevalue = 1.00000;
			};
			class wheel_1_2_destruct_unhide: wheel_1_1_destruct_unhide 
			{
				source="HitLBWheel";
				selection="wheel_1_2_unhide";
			};
			class wheel_2_1_destruct_unhide: wheel_1_1_destruct_unhide 
			{
				source="HitRFWheel";
				selection="wheel_2_1_unhide";
			};
			class wheel_2_2_destruct_unhide: wheel_1_1_destruct_unhide 
			{
				source="HitRBWheel";
				selection="wheel_2_2_unhide";
			};
			#define DamageOffset 0.2
			class wheel_1_1_Damage: wheel_1_1_destruct
			{
				type="translation";
				axis="Basic_Damper_Destruct_Axis";
				memory=1;
				selection="wheel_1_1_damper";
				source="HitLFWheel";
				minValue = 0.0;
				maxValue = 1;
				offset0 = 0;
				offset1 = DamageOffset;
			};
			class wheel_1_2_Damage: wheel_1_1_Damage 
			{
				source="HitLBWheel";
				selection="wheel_1_2_damper";
			};
			class wheel_2_1_Damage: wheel_1_1_Damage 
			{
				source="HitRFWheel";
				selection="wheel_2_1_damper";
			};
			class wheel_2_2_Damage: wheel_1_1_Damage 
			{
				source="HitRBWheel";
				selection="wheel_2_2_damper";
			};
			class wheel_1_1_Damper_Damage_BackAnim: wheel_1_1_Damage 
			{
				selection="wheel_1_1_damper";
				offset1 = -1.2*DamageOffset;
			};
			class wheel_1_2_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim 
			{
				source="HitLBWheel";
				selection="wheel_1_2_damper";
			};
			class wheel_2_1_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim 
			{
				source="HitRFWheel";
				selection="wheel_2_1_damper";
			};
			class wheel_2_2_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim 
			{
				source="HitRBWheel";
				selection="wheel_2_2_damper";
			};
			class Steering_1_1
			{
				type="rotationY";
				source="drivingWheel";
				selection="wheel_1_1_steering";
				axis="wheel_1_1_steering_axis";
				memory=1;
				minValue= -1;
				maxValue= 1;
				angle0="rad +30";
				angle1="rad -30";
			};
			class Steering_2_1: Steering_1_1
			{
				selection="wheel_2_1_steering";
				axis="wheel_2_1_steering_axis";
			};
			class Wheel_1_1
			{
				type="rotationX";
				source="wheel";
				selection="wheel_1_1";
				axis="wheel_1_1_axis";
				memory=1;
				sourceAddress="loop";
				minValue=0;
				maxValue=1;
				angle0=0;
				angle1="rad -360";
			};
			class wheel_2_1: Wheel_1_1
			{
				selection="wheel_2_1";
				axis="wheel_2_1_axis";
			};
			class wheel_1_2: Wheel_1_1
			{
				selection="wheel_1_2";
				axis="wheel_1_2_axis";
			};
			class Wheel_2_2: Wheel_1_1
			{
				selection="wheel_2_2";
				axis="wheel_2_2_axis";
			};
			class Wheel_1_1_Damper
			{
				type="translation";
				source="damper";
				selection="wheel_1_1_damper_land";
				axis="wheel_1_1_damper_land_axis";
				animPeriod = 1;
				minValue="0";
				maxValue="1";
				offset0= "-1";
				offset1= "1";
				memory = 1;
			};
			class wheel_2_1_Damper: Wheel_1_1_Damper
			{
				selection="wheel_2_1_damper_land";
				axis="wheel_2_1_damper_land_axis";
			};
			class wheel_1_2_Damper: Wheel_1_1_Damper
			{
				selection="wheel_1_2_damper_land";
				axis="wheel_1_2_damper_land_axis";
			};
			class Wheel_2_2_Damper: Wheel_1_1_Damper
			{
				selection="wheel_2_2_damper_land";
				axis="wheel_2_2_damper_land_axis";
			};
			class DrivingWheel
			{
				type="rotation";
				source="drivingWheel";
				selection="steering_wheel";
				axis="steering_wheel_axis";
				memory = 1;
				animPeriod=0;
				minValue=-1;
				maxValue=1;
				angle0= -1;
				angle1= 1;
			};
			class Glass1_destruct
			{
				type="hide";
				selection="glass1";
				source="HitGlass1";
				minValue = 0; 
				maxValue = 1; 
				hidevalue = 0.99999;
			};
			class Glass2_destruct: Glass1_destruct 
			{
				selection="glass2";
				source="HitGlass2";
			};
			class Glass3_destruct: Glass1_destruct 
			{
				selection="glass3";
				source="HitGlass3";
			};
		};
	};
};