class CfgSkeletons
{
	class A3FL_Smart_Car_Sk
	{
		skeletonInherit="";
		skeletonBones[]=
		{
			"damageHide","",
			"glass1","damageHide",
			"glass2","Door_LF",
			"glass3","Door_LB",
			"glass4","Door_RF",
			"glass5","Door_RB",
			"glass6","",
			"glass7","damageHide",
			"glass8","damageHide",
			"glass9","damageHide",
			"glass10","damageHide",
			
			"wheel_1_1_damper_land","",
			"wheel_1_2_damper_land","",
			"wheel_2_1_damper_land","",
			"wheel_2_2_damper_land","",
			
			"wheel_1_1_damper","wheel_1_1_damper_land",
			"wheel_1_2_damper","wheel_1_2_damper_land",
			"wheel_2_1_damper","wheel_2_1_damper_land",
			"wheel_2_2_damper","wheel_2_2_damper_land",
			
			"wheel_1_1_steering","wheel_1_1_damper",
			"wheel_1_2_steering","wheel_1_2_damper",
			"wheel_2_1_steering","wheel_2_1_damper",
			"wheel_2_2_steering","wheel_2_2_damper",
			
			"wheel_1_1_turn","wheel_1_1_steering",
			"wheel_1_2_turn","wheel_1_2_steering",
			"wheel_2_1_turn","wheel_2_1_steering",
			"wheel_2_2_turn","wheel_2_2_steering",
			
			"wheel_1_1_unhide","wheel_1_1_turn",
			"wheel_1_2_unhide","wheel_1_2_turn",
			"wheel_2_1_unhide","wheel_2_1_turn",
			"wheel_2_2_unhide","wheel_2_2_turn",			
			
			"Hit_wheel_1_1","wheel_1_1_turn",
			"Hit_wheel_1_2","wheel_1_2_turn",
			"Hit_wheel_2_1","wheel_2_1_turn",
			"Hit_wheel_2_2","wheel_2_2_turn",
			
			"wheel_1_1_pad","wheel_1_1_steering",
			"wheel_1_2_pad","wheel_1_2_damper",
			"wheel_2_1_pad","wheel_2_1_steering",
			"wheel_2_2_pad","wheel_2_2_damper",
			
			"wheel_1_1","Hit_wheel_1_1",
			"wheel_1_2","Hit_wheel_1_2",
			"wheel_2_1","Hit_wheel_2_1",
			"wheel_2_2","Hit_wheel_2_2",
			
			"Addons","",
			"Addons_2","",
			"Trunk","damageHide",
			"Hood","",
			
			"Door_LF","damageHide",
			"Door_RF","damageHide",
			"Door_LB","damageHide",
			"Door_RB","damageHide",
			"Door_LB2","damageHide",
			"Door_RB2","damageHide",
			"Door_LB3","damageHide",
			"Door_RB3","damageHide",
			"Door_LB4","damageHide",
			"Door_RB4","damageHide",
			"Door_LB5","damageHide",
			"Door_RB5","damageHide",
			"Door_LB6","damageHide",
			"Door_RB6","damageHide",
			
			"steering_wheel","",
			"Accelerator","",
			"Fuel","",
			"Speedo","",
			"Rpm","",
			"Water_Temp","",
			"Water_Temp","",
			"Air_Pres","",
			"Oil_Press","",
			"Battery","",
			"Hour_hand","",
			"Minute_hand","",
			"Towbar_Addon","",
			"High_Beam_Switch","",
			"ignition","",
			"trunkSwitch","",
			"trunkInside","",
			"gasTank","",
			
			"lightSwitch","",
			"Auto_Lights","damageHide",
			"Head_Lights","Auto_Lights",
			"High_Beam","Head_Lights",
			"LightCarHeadL01","Head_Lights",
			"LightCarHeadL01_end","Head_Lights",
			"LightCarHeadR01","Head_Lights",
			"LightCarHeadR01_end","Head_Lights",
			"daylights","",
			
			"Reverse_Cam_Button","",
			"Reverse_Cam","",
			"reverse_light","",
			"platescrew","",
		    "Stock_Bonnet","",
			"Cargo_Door_1","damageHide",
			"Cargo_Door_2","damageHide",
			"Cargo_Door_3","damageHide",
			"Cargo_Door_4","damageHide",
			"Cargo_Door_5","damageHide",
			"Cargo_Door_6","damageHide",
			"Cargo_Door_7","damageHide",
			"trunkInside","",
			"trunkInside1","",
			"trunkInside2","",
			"trunkInside3","",
			"trunkInside4","",
			"trunkInside5","",
			"trunkInside6","",
			"trunkInside7",""
		};
	};
};
class CfgModels
{
	class A3FL_Smart_Car
	{
        sectionsInherit="";
		sections[]={"Body","Lett_1","Lett_2","Lett_3","num_1","num_2","num_3","num_4","zadni svetlo","brzdove svetlo","P svetlo","L svetlo","glass1","glass2","glass3","glass4"};
        skeletonName="A3FL_Smart_Car_Sk";
		class Animations
		{
			class Addons
			{
				type="hide";
				source="Common";
				selection = "Addons";
				sourceAddress = "clamp";
				minValue = 0;
				maxValue = 1;
				minPhase = 0;
				maxPhase = 1;
				hideValue = "0";
				unHideValue = "1";
			};
			class Addons_2
			{
				type="hide";
				source="Common";
				selection="Addons_2";
				minValue = 0;
				maxValue = 1;
				minPhase = 0;
				maxPhase = 1;
				hideValue = 0.990000;
			};
			class Mods
			{
				type="hide";
				source="Mods";
				selection="Mods";
				sourceAddress = "clamp";
				minValue = 0;
				maxValue = 1;
				minPhase = 0;
				maxPhase = 1;
				hideValue = "0";
				unHideValue = "1";
			};
			class Head_Lights
			{
				type="translation";
				axis="Basic_Damper_Destruct_Axis";
				memory=1;
				animPeriod = 0;
				selection="Head_Lights";
				source="Head_Lights";
				minValue = 0;
				maxValue = 1;
				offset0 = 9999999;
				offset1 = 0;
			};
			class High_Beam
			{
				type="translation";
				axis="Basic_Damper_Destruct_Axis";
				memory=1;
				animPeriod = 0;
				selection="High_Beam";
				source="High_Beam";
				minValue = 0;
				maxValue = 1;
				offset0 = 9999999;
				offset1 = 0;
			};
			class Auto_Lights
			{
				type="translation";
				axis="Basic_Damper_Destruct_Axis";
				memory=1;
				animPeriod = 0;
				selection="Auto_Lights";
				source="rpm";
				minValue = 0;
				maxValue = 300;
				offset0 = 9999999;
				offset1 = 0;
			};
			class Door_LF
			{
				type="rotation";
				source="Door_LF";
				selection="Door_LF";
				axis="Door_LF_axis";
				memory = 1;
				minValue=0;
				maxValue=1;
                angle0 = 0;
		        angle1 = 1;
			};
			class Door_RF: Door_LF
			{
				source="Door_RF";
				selection="Door_RF";
				axis="Door_RF_axis";
			};
			class Door_LB: Door_LF
			{
				source="Door_LB";
				selection="Door_LB";
				axis="Door_LB_axis";
			};
			class Door_RB: Door_LF
			{
				source="Door_RB";
				selection="Door_RB";
				axis="Door_RB_axis";
			};
			class Trunk: Door_LF
			{
				source="Trunk";
				selection="Trunk";
				axis="Trunk_axis";
				angle1 = 0.8;
			};
			class Bonnet: Door_LF
			{
				source="Hood";
				selection="Bonnet";
				axis="Bonnet_axis";
				angle1 = 0.65;
			};
			class Accelerator: Door_LF
			{
				source="Throttle";
				selection="Accelerator";
				axis="basic_damper_destruct_axis";
				angle1 = 0.4;
			};
			class daylights
			{
				type="hide";
				source="rpm";
				selection="daylights";
				minValue=-0.8;
				maxValue=0.2;
				unhidevalue=1;
				sourceAddress="clamp";
			};
			class reverse_light
			{
				type="Hide";
				selection="reverse_light";
				sourceAddress="clamp";
				source="Gear";
				minValue = -1;
				maxValue = 0;
				hideValue = "0.2";
			};
			class Reverse_Cam
			{
				type="hide";
				selection="Reverse_Cam";
				source="Common";
				minValue = 0;
				maxValue = 1;
				minPhase = 0;
				maxPhase = 1;
				sourceAddress = "clamp";
				hidevalue = 0.00000;
				UnHidevalue = 1.00000;
			};
			class damageHide
			{
				type="hide";
				source="damage";
				selection="damageHide";
			};
			class Towbar_Addon: Mods
			{
				selection="Towbar_Addon";
				source="Towbar_Addon";
			};
			class wheel_1_1_destruct
			{
				type="hide";
				selection="Hit_wheel_1_1";
				source="HitLFWheel";
				minValue = 0;
				maxValue = 1;
				hidevalue = 0.99999;
			};
			class wheel_1_2_destruct: wheel_1_1_destruct
			{
				source="HitLBWheel";
				selection="Hit_wheel_1_2";
			};
			class wheel_1_3_destruct: wheel_1_1_destruct
			{
				source="HitLMWheel";
				selection="Hit_wheel_1_3";
			};
			class wheel_1_4_destruct: wheel_1_1_destruct
			{
				source="HitLF2Wheel";
				selection="Hit_wheel_1_4";
			};
			class wheel_2_1_destruct: wheel_1_1_destruct
			{
				source="HitRFWheel";
				selection="Hit_wheel_2_1";
			};
			class wheel_2_2_destruct: wheel_1_1_destruct
			{
				source="HitRBWheel";
				selection="Hit_wheel_2_2";
			};
			class wheel_2_3_destruct: wheel_1_1_destruct
			{
				source="HitRMWheel";
				selection="Hit_wheel_2_3";
			};
			class wheel_2_4_destruct: wheel_1_1_destruct
			{
				source="HitRF2Wheel";
				selection="Hit_wheel_2_4";
			};
			class wheel_1_1_destruct_unhide
			{
				type="hide";
				selection="wheel_1_1_unhide";
				source="HitLFWheel";
				minValue = 0;
				maxValue = 1;
				hidevalue = 0.00000;
				UnHidevalue = 1.00000;
			};
			class wheel_1_2_destruct_unhide: wheel_1_1_destruct_unhide
			{
				source="HitLBWheel";
				selection="wheel_1_2_unhide";
			};
			class wheel_1_3_destruct_unhide: wheel_1_1_destruct_unhide
			{
				source="HitLMWheel";
				selection="wheel_1_3_unhide";
			};
			class wheel_1_4_destruct_unhide: wheel_1_1_destruct_unhide
			{
				source="HitLF2Wheel";
				selection="wheel_1_4_unhide";
			};
			class wheel_2_1_destruct_unhide: wheel_1_1_destruct_unhide
			{
				source="HitRFWheel";
				selection="wheel_2_1_unhide";
			};
			class wheel_2_2_destruct_unhide: wheel_1_1_destruct_unhide
			{
				source="HitRBWheel";
				selection="wheel_2_2_unhide";
			};
			class wheel_2_3_destruct_unhide: wheel_1_1_destruct_unhide
			{
				source="HitRMWheel";
				selection="wheel_2_3_unhide";
			};
			class wheel_2_4_destruct_unhide: wheel_1_1_destruct_unhide
			{
				source="HitRF2Wheel";
				selection="wheel_2_4_unhide";
			};
			#define DANAGEOFFSET 0.2
			class wheel_1_1_Damage: wheel_1_1_destruct
			{
				type="translation";
				axis="Basic_Damper_Destruct_Axis";
				memory=1;
				selection="wheel_1_1_damper";
				source="HitLFWheel";
				minValue = 0.0;
				maxValue = 1;
				offset0 = 0;
				offset1 = DamageOffset;
			};
			class wheel_1_2_Damage: wheel_1_1_Damage
			{
				source="HitLBWheel";
				selection="wheel_1_2_damper";
			};
			class wheel_1_3_Damage: wheel_1_1_Damage
			{
				source="HitLMWheel";
				selection="wheel_1_3_damper";
			};
			class wheel_1_4_Damage: wheel_1_1_Damage
			{
				source="HitLF2Wheel";
				selection="wheel_1_4_damper";
			};
			class wheel_2_1_Damage: wheel_1_1_Damage
			{
				source="HitRFWheel";
				selection="wheel_2_1_damper";
			};
			class wheel_2_2_Damage: wheel_1_1_Damage
			{
				source="HitRBWheel";
				selection="wheel_2_2_damper";
			};
			class wheel_2_3_Damage: wheel_1_1_Damage
			{
				source="HitRMWheel";
				selection="wheel_2_3_damper";
			};
			class wheel_2_4_Damage: wheel_1_1_Damage
			{
				source="HitRF2Wheel";
				selection="wheel_2_4_damper";
			};
			class wheel_1_1_Damper_Damage_BackAnim: wheel_1_1_Damage
			{
				selection="wheel_1_1_damper";
				offset1 = -1.2*DamageOffset;
			};
			class wheel_1_2_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim
			{
				source="HitLBWheel";
				selection="wheel_1_2_damper";
			};
			class wheel_1_3_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim
			{
				source="HitLMWheel";
				selection="wheel_1_3_damper";
			};
			class wheel_1_4_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim
			{
				source="HitLF2Wheel";
				selection="wheel_1_4_damper";
			};
			class wheel_2_1_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim
			{
				source="HitRFWheel";
				selection="wheel_2_1_damper";
			};
			class wheel_2_2_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim
			{
				source="HitRBWheel";
				selection="wheel_2_2_damper";
			};
			class wheel_2_3_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim
			{
				source="HitRMWheel";
				selection="wheel_2_3_damper";
			};
			class wheel_2_4_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim
			{
				source="HitRF2Wheel";
				selection="wheel_2_4_damper";
			};
			class Glass1_destruct
			{
				type="hide";
				selection="glass1";
				source="HitGlass1";
				minValue = 0;
				maxValue = 1;
				hidevalue = 0.99999;
			};
			class Glass2_destruct: Glass1_destruct
			{
				selection="glass2";
				source="HitGlass2";
			};
			class Glass3_destruct: Glass1_destruct
			{
				selection="glass3";
				source="HitGlass3";
			};
			class Glass4_destruct: Glass1_destruct
			{
				selection="glass4";
				source="HitGlass4";
			};
			class Glass5_destruct: Glass1_destruct
			{
				selection="glass5";
				source="HitGlass5";
			};
			class Glass6_destruct: Glass1_destruct
			{
				selection="glass6";
				source="HitGlass6";
			};
			class Glass7_destruct: Glass1_destruct
			{
				selection="glass7";
				source="HitGlass7";
			};
			class Glass8_destruct: Glass1_destruct
			{
				selection="glass8";
				source="HitGlass8";
			};
			class Glass9_destruct: Glass1_destruct
			{
				selection="glass9";
				source="HitGlass9";
			};
			class Steering_1_1
			{
				type="rotationY";
				source="drivingWheel";
				selection="wheel_1_1_steering";
				axis="wheel_1_1_steering_axis";
				memory=1;
				minValue= -1;
				maxValue= 1;
				angle0="rad +25";
				angle1="rad -25";
			};
			class Steering_2_1: Steering_1_1
			{
				selection="wheel_2_1_steering";
				axis="wheel_2_1_steering_axis";
			};
			class wheel_1_1_pad: wheel_1_1_destruct
			{
				selection="wheel_1_1_pad";
			};
			class wheel_1_2_pad: wheel_1_2_destruct
			{
				selection="wheel_1_2_pad";
			};
			class wheel_2_1_pad: wheel_2_1_destruct
			{
				selection="wheel_2_1_pad";
			};
			class wheel_2_2_pad: wheel_2_2_destruct
			{
				selection="wheel_2_2_pad";
			};
			class wheel_1_1_turn
			{
				type="rotationX";
				source="wheel";
				selection="wheel_1_1_turn";
				axis="wheel_1_1_axis";
				memory=1;
				sourceAddress="loop";
				minValue=0;
				maxValue=1;
				angle0=0;
				angle1="rad -360";
			};
			class wheel_2_1_turn: wheel_1_1_turn
			{
				selection="wheel_2_1_turn";
				axis="wheel_2_1_axis";
			};
			class wheel_1_2_turn: wheel_1_1_turn
			{
				selection="wheel_1_2_turn";
				axis="wheel_1_2_axis";
			};
			class wheel_1_3_turn: wheel_1_1_turn
			{
				selection="wheel_1_3_turn";
				axis="wheel_1_3_axis";
			};
			class wheel_2_2_turn: wheel_1_1_turn
			{
				selection="wheel_2_2_turn";
				axis="wheel_2_2_axis";
			};
			class wheel_2_3_turn: wheel_1_1_turn
			{
				selection="wheel_2_3_turn";
				axis="wheel_2_3_axis";
			};
			class wheel_1_4_turn: wheel_1_1_turn
			{
				selection="wheel_1_4_turn";
				axis="wheel_1_4_axis";
			};
			class wheel_2_4_turn: wheel_1_1_turn
			{
				selection="wheel_2_4_turn";
				axis="wheel_2_4_axis";
			};
			class Wheel_1_1_Damper
			{
				type="translation";
				source="damper";
				selection="wheel_1_1_damper_land";
				axis="wheel_1_1_damper_land_axis";
				animPeriod = 1;
				minValue="0";
				maxValue="1";
				offset0= "-1";
				offset1= "1";
				memory = 1;
			};
			class wheel_2_1_Damper: Wheel_1_1_Damper
			{
				selection="wheel_2_1_damper_land";
				axis="wheel_2_1_damper_land_axis";
			};
			class wheel_1_2_Damper: Wheel_1_1_Damper
			{
				selection="wheel_1_2_damper_land";
				axis="wheel_1_2_damper_land_axis";
			};
			class Wheel_2_2_Damper: Wheel_1_1_Damper
			{
				selection="wheel_2_2_damper_land";
				axis="wheel_2_2_damper_land_axis";
			};
			class wheel_1_3_Damper: Wheel_1_1_Damper
			{
				selection="wheel_1_3_damper_land";
				axis="wheel_1_3_damper_land_axis";
			};
			class Wheel_2_3_Damper: Wheel_1_1_Damper
			{
				selection="wheel_2_3_damper_land";
				axis="wheel_2_3_damper_land_axis";
			};
			class DrivingWheel
			{
				type="rotation";
				source="drivingWheel";//drivingWheel
				selection="steering_wheel";
				axis="steering_wheel_axis";
				memory = "true";
				animPeriod=0;
				minValue=-1;
				maxValue=1;
				angle0= 1;
				angle1= -1;
			};
			class IndicatorRPM
			{
				animPeriod=0;
				type="rotation";
				source="Rpm";//Rpm
				selection="Rpm";
				axis="Rpm_axis";
				memory = "true";
				minValue=0;
				maxValue= 11900.0;//11900
				angle0= 0;
				angle1 = "rad +240";
			};
			class IndicatorSpeed
			{
				animPeriod=0;
				type="rotation";
				source="speed";//speed
				selection="Speedo";
				axis="Speedo_axis";
				memory = "true";
				minValue=0;
				maxValue= 100;//100
				angle0= 0;
				angle1 = "rad +152";
			};
		};
	};
};
