class cfgSkeletons
{
	class quadbike_01_f
	{
		skeletonInherit = "";
		isDiscrete = 0;
		SkeletonBones[]=
		{
			"scooter_driver"	,"",
			"scooter_passenger"	,"",
			"drivewheel"	,"",
			"wheel_1_1_damper_land","","wheel_1_2_damper_land","","wheel_2_1_damper_land","","wheel_2_2_damper_land","","wheel_1_1_damper","wheel_1_1_damper_land","wheel_1_2_damper","wheel_1_2_damper_land","wheel_2_1_damper","wheel_2_1_damper_land","wheel_2_2_damper","wheel_2_2_damper_land","wheel_1_1_steering","wheel_1_1_damper","wheel_1_2_steering","wheel_1_2_damper","wheel_2_1_steering","wheel_2_1_damper","wheel_2_2_steering","wheel_2_2_damper","wheel_1_1_turn","wheel_1_1_steering","wheel_1_2_turn","wheel_1_2_steering","wheel_2_1_turn","wheel_2_1_steering","wheel_2_2_turn","wheel_2_2_steering","wheel_1_1_unhide","wheel_1_1_turn","wheel_1_2_unhide","wheel_1_2_turn","wheel_2_1_unhide","wheel_2_1_turn","wheel_2_2_unhide","wheel_2_2_turn","Hit_wheel_1_1","wheel_1_1_turn","Hit_wheel_1_2","wheel_1_2_turn","Hit_wheel_2_1","wheel_2_1_turn","Hit_wheel_2_2","wheel_2_2_turn","wheel_1_1_pad","wheel_1_1_steering","wheel_1_2_pad","wheel_1_2_damper","wheel_2_1_pad","wheel_2_1_steering","wheel_2_2_pad","wheel_2_2_damper","wheel_1_1","Hit_wheel_1_1","wheel_1_2","Hit_wheel_1_2","wheel_2_1","Hit_wheel_2_1","wheel_2_2","Hit_wheel_2_2",
			"otocvez"	,"",
			"otochlaven"	,"otocvez",
			"damagehlaven"	,"otochlaven",
			"damagevez"	,"otocvez",
			"damagehide"	,"",
			"ukaz_rychlo"	,"",
			"ukaz_rychlo2"	,"",
			"ukaz_rpm"	,"",
			"mph"	,"",
			"rpm"	,"",
			"fuel"	,"",
			"fuel_1"	,"",
			"fuel_01"	,"",
			"fuel_2"	,"",
			"fuel_3"	,"",
			"prop_01"	,"",
			"prop_02"	,"",
			"prop_2"	,"",
			"prop_1"	,"",
			"reverse_light"	,"",
			"daylights"	,"",
			"pedal_brake"	,"",
			"pedal_thrust"	,"",
			"drivewheel_static"	,"",
			"gasTank",""
		};
	};
};
class CfgModels
{
	class Default
	{
		sections[] = {};
		sectionsInherit="";
		skeletonName = "";
	};
	class quadbike_01_f:Default
	{
		skeletonName="quadbike_01_f";
		sections[]=
		{
			"motor",
			"light_r",
			"light_l",
			"zbytek",
			"camo1",
			"zadni svetlo",
			"brzdove svetlo",
			"clan"
		};
		class Animations
		{
			class damagehide
			{
				type="hide";
				source="damage";
				selection="damagehide";
				minValue = 0.0;
				maxValue = 1.0;
				hideValue = 1.0;
				animPeriod = 0.0;
				initPhase = 0.0;
			};
			class damagehidevez
			{
				type="hide";
				source="damage";
				selection="otocvez";
				minValue = 0.0;
				maxValue = 1.0;
				hideValue = 1.0;
				animPeriod = 0.0;
				initPhase = 0.0;
			};
			class damagehidehlaven
			{
				type="hide";
				source="damage";
				selection="otochlaven";
				minValue = 0.0;
				maxValue = 1.0;
				hideValue = 1.0;
				animPeriod = 0.0;
				initPhase = 0.0;
			};
			class wheel_1_1_destruct
			{
				type="hide";
				selection="Hit_wheel_1_1";
				source="HitLFWheel";
				minValue = 0;
				maxValue = 1;
				hidevalue = 0.99999;
			};
			class wheel_1_2_destruct: wheel_1_1_destruct 
			{
				source="HitLBWheel";
				selection="Hit_wheel_1_2";
			};
			class wheel_1_3_destruct: wheel_1_1_destruct 
			{
				source="HitLMWheel";
				selection="Hit_wheel_1_3";
			};
			class wheel_1_4_destruct: wheel_1_1_destruct 
			{
				source="HitLF2Wheel";
				selection="Hit_wheel_1_4";
			};
			class wheel_2_1_destruct: wheel_1_1_destruct 
			{
				source="HitRFWheel";
				selection="Hit_wheel_2_1";
			};
			class wheel_2_2_destruct: wheel_1_1_destruct 
			{
				source="HitRBWheel";
				selection="Hit_wheel_2_2";
			};
			class wheel_2_3_destruct: wheel_1_1_destruct 
			{
				source="HitRMWheel";
				selection="Hit_wheel_2_3";
			};
			class wheel_2_4_destruct: wheel_1_1_destruct 
			{
				source="HitRF2Wheel";
				selection="Hit_wheel_2_4";
			};
			class wheel_1_1_destruct_unhide
			{
				type="hide";
				selection="wheel_1_1_unhide";
				source="HitLFWheel";
				minValue = 0; 
				maxValue = 1; 
				hidevalue = 0.00000;
				UnHidevalue = 1.00000;
			};
			class wheel_1_2_destruct_unhide: wheel_1_1_destruct_unhide 
			{
				source="HitLBWheel";
				selection="wheel_1_2_unhide";
			};
			class wheel_1_3_destruct_unhide: wheel_1_1_destruct_unhide 
			{
				source="HitLMWheel";
				selection="wheel_1_3_unhide";
			};
			class wheel_1_4_destruct_unhide: wheel_1_1_destruct_unhide 
			{
				source="HitLF2Wheel";
				selection="wheel_1_4_unhide";
			};
			class wheel_2_1_destruct_unhide: wheel_1_1_destruct_unhide 
			{
				source="HitRFWheel";
				selection="wheel_2_1_unhide";
			};
			class wheel_2_2_destruct_unhide: wheel_1_1_destruct_unhide 
			{
				source="HitRBWheel";
				selection="wheel_2_2_unhide";
			};
			class wheel_2_3_destruct_unhide: wheel_1_1_destruct_unhide 
			{
				source="HitRMWheel";
				selection="wheel_2_3_unhide";
			};
			class wheel_2_4_destruct_unhide: wheel_1_1_destruct_unhide 
			{
				source="HitRF2Wheel";
				selection="wheel_2_4_unhide";
			};
			#define DamageOffset 0.2
			class wheel_1_1_Damage: wheel_1_1_destruct
			{
				type="translation";
				axis="Basic_Damper_Destruct_Axis";
				memory=1;
				selection="wheel_1_1_damper";
				source="HitLFWheel";
				minValue = 0.0;
				maxValue = 1;
				offset0 = 0;
				offset1 = DamageOffset;
			};
			class wheel_1_2_Damage: wheel_1_1_Damage 
			{
				source="HitLBWheel";
				selection="wheel_1_2_damper";
			};
			class wheel_1_3_Damage: wheel_1_1_Damage 
			{
				source="HitLMWheel";
				selection="wheel_1_3_damper";
			};
			class wheel_1_4_Damage: wheel_1_1_Damage 
			{
				source="HitLF2Wheel";
				selection="wheel_1_4_damper";
			};
			class wheel_2_1_Damage: wheel_1_1_Damage 
			{
				source="HitRFWheel";
				selection="wheel_2_1_damper";
			};
			class wheel_2_2_Damage: wheel_1_1_Damage 
			{
				source="HitRBWheel";
				selection="wheel_2_2_damper";
			};
			class wheel_2_3_Damage: wheel_1_1_Damage 
			{
				source="HitRMWheel";
				selection="wheel_2_3_damper";
			};
			class wheel_2_4_Damage: wheel_1_1_Damage 
			{
				source="HitRF2Wheel";
				selection="wheel_2_4_damper";
			};
			class wheel_1_1_Damper_Damage_BackAnim: wheel_1_1_Damage 
			{
				selection="wheel_1_1_damper";
				offset1 = -1.2*DamageOffset;
			};
			class wheel_1_2_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim 
			{
				source="HitLBWheel";
				selection="wheel_1_2_damper";
			};
			class wheel_1_3_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim 
			{
				source="HitLMWheel";
				selection="wheel_1_3_damper";
			};
			class wheel_1_4_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim 
			{
				source="HitLF2Wheel";
				selection="wheel_1_4_damper";
			};
			class wheel_2_1_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim 
			{
				source="HitRFWheel";
				selection="wheel_2_1_damper";
			};
			class wheel_2_2_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim 
			{
				source="HitRBWheel";
				selection="wheel_2_2_damper";
			};
			class wheel_2_3_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim 
			{
				source="HitRMWheel";
				selection="wheel_2_3_damper";
			};
			class wheel_2_4_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim 
			{
				source="HitRF2Wheel";
				selection="wheel_2_4_damper";
			};
			class wheel_1_1_turn
			{
				type="rotationX";
				source="wheel";
				selection="wheel_1_1_turn";
				axis="wheel_1_1_axis";
				memory=1;
				sourceAddress="loop";
				minValue=0;
				maxValue=1;
				angle0=0;
				angle1="rad -360";
			};
			class wheel_2_1_turn: wheel_1_1_turn
			{
				selection="wheel_2_1_turn";
				axis="wheel_2_1_axis";
			};
			class wheel_1_2_turn: wheel_1_1_turn
			{
				selection="wheel_1_2_turn";
				axis="wheel_1_2_axis";
			};
			class wheel_1_3_turn: wheel_1_1_turn
			{
				selection="wheel_1_3_turn";
				axis="wheel_1_3_axis";
			};
			class wheel_2_2_turn: wheel_1_1_turn
			{
				selection="wheel_2_2_turn";
				axis="wheel_2_2_axis";
			};
			class wheel_2_3_turn: wheel_1_1_turn
			{
				selection="wheel_2_3_turn";
				axis="wheel_2_3_axis";
			};
			class wheel_1_4_turn: wheel_1_1_turn
			{
				selection="wheel_1_4_turn";
				axis="wheel_1_4_axis";
			};
			class wheel_2_4_turn: wheel_1_1_turn
			{
				selection="wheel_2_4_turn";
				axis="wheel_2_4_axis";
			};
			class daylights
			{
				type="hide";
				source="rpm";
				selection="daylights";
				minValue = -0.8;
				maxValue = 0.2;
				hideValue = 0.2;
				unHideValue = 1.0;
				animPeriod = 0.0;
				initPhase = 0.0;
			};
			class reverse_light
			{
				type="hide";
				source="gear";
				selection="reverse_light";
				minValue = -1.0;
				maxValue = 0.0;
				hideValue = 0.2;
				animPeriod = 0.0;
				initPhase = 0.0;
			};
			class drivingwheel
			{
				type="rotation";
				source="drivingwheel";
				selection="drivewheel";
				axis="drivewheel_axis";
				minValue = -1.0;
				maxValue = 1.0;
				angle0 = 0.5235988;
				angle1 = -0.5235988;
				animPeriod = 0.0;
				initPhase = 0.0;
			};
			class Steering_1_1
			{
				type="rotationY";
				source="drivingWheel";
				selection="wheel_1_1_steering";
				axis="wheel_1_1_steering_axis";
				memory=1;
				minValue= -1;
				maxValue= 1;
				angle0="rad +25";
				angle1="rad -25";
			};
			class Steering_2_1: Steering_1_1
			{
				selection="wheel_2_1_steering";
				axis="wheel_2_1_steering_axis";
			};
			class Wheel_1_1_Damper
			{
				type="translation";
				source="damper";
				selection="wheel_1_1_damper_land";
				axis="wheel_1_1_damper_land_axis";
				animPeriod = 1;
				minValue="0";
				maxValue="1";
				offset0= "-1";
				offset1= "1";
				memory = 1;
			};
			class wheel_2_1_Damper: Wheel_1_1_Damper
			{
				selection="wheel_2_1_damper_land";
				axis="wheel_2_1_damper_land_axis";
			};
			class wheel_1_2_Damper: Wheel_1_1_Damper
			{
				selection="wheel_1_2_damper_land";
				axis="wheel_1_2_damper_land_axis";
			};
			class Wheel_2_2_Damper: Wheel_1_1_Damper
			{
				selection="wheel_2_2_damper_land";
				axis="wheel_2_2_damper_land_axis";
			};
			class wheel_1_3_Damper: Wheel_1_1_Damper
			{
				selection="wheel_1_3_damper_land";
				axis="wheel_1_3_damper_land_axis";
			};
			class Wheel_2_3_Damper: Wheel_1_1_Damper
			{
				selection="wheel_2_3_damper_land";
				axis="wheel_2_3_damper_land_axis";
			};
		};
	};
};
